{% extends 'index.html' %}

{% block body %}

    <div class="login-form">
        <h2>Login</h2>
        <form method="POST" action="/login">
            <label for="login">Username:</label><br>
            <input type="text" name="username" placeholder="Nome de usuário"><br>
            <label for="senha">Password:</label><br>
            <input type="password" name="password" placeholder="Senha"><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <p>{{ mensagem }}</p>
{% endblock %}
